@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  /* Light theme */
  --bcg: #F6F6F6;
  --bcg-text: #000000;

  --primary: #004A8F;
  --primary-text: #FFFFFF;
}

.dark {
  /* Dark theme */
  --bcg: #0F0F0F;
  --bcg-text: #FFFFFF;
  
  --primary: #70BAFF;
  --primary-text: #000000;
}

/* Responsive automatic font sizes -> design on large screen */
.text-h1 {
  @apply text-h3 md:text-h2 lg:text-h1;
}
.text-h2 {
  @apply text-h4 md:text-h3 lg:text-h2;
}
.text-h3 {
  @apply text-h5 md:text-h4 lg:text-h3;
}

/* Responsive images */
.h-icon-l {
  @apply h-icon-xs sm:h-icon-s md:h-icon-m lg:h-icon-l;
}
.h-icon-m {
  @apply h-icon-s md:h-icon-m lg:h-icon-m;
}

html,
body{
  overflow-x: hidden;
}

#root,
.app{
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
}
